<% title "Gattungen" %>
<table>
  <tr>
    <th>Name</th>
    <th>Energy</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @families.each do |family| %>
    <div id="family.<%= to_html_tag family.name %>">
      <tr>
        <td><%= link_to family.name, family %></td>
        <td><%= family.energy %></td>
      </tr>
    </div>
  <% end %>
</table>

<br />

<%= link_to 'New Family', new_family_path %>
