<div class="cell <%= month.abbrev %>">
  <div class="info <%= is_seed_time(plant, month) %>">
    &nbsp;
  </div>
  <div class="info">
    &nbsp;
  </div>
  <div class="info last">
    &nbsp;
  </div>
</div>
